
@model RoomType
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div>
                    <h3 class="text-bold">Otaq növü əlavə edin</h3>
                </div>

                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Type">Otaq növü</label>
                        <input asp-for="Type" class="form-control">
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary mr-2 rounded-pill">Əlavə et</button>
                    <a asp-action="Create" asp-controller="Rooms" class="btn btn-light rounded-pill">Geri</a>
                </form>
            </div>
        </div>
    </div>

</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}


